export ZSH_GHF_API_URL=https://${username}:${token}@api.github.com/repos/${username}
export ZSH_GHF_REPO_NAME_FRAGMENT=ghf
export ZSH_GHF_REPO_NAME_LANG_LEARNING=ghf
export ZSH_GHF_PATH_TO_CACHE_ROOT=~/.ghf
export ZSH_GHF_NOTIFICATION_SOUND=submarine
export ZSH_GHF_DAEMON_POLLING_INTERVAL=30
export ZSH_GHF_DAEMON_NOTIFICATION_INTERVAL=15
